@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
	padding: 0px;
	margin: 0px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./images/Macbook.jpg") center center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: "Francois One", sans-serif;
}
.hide {
	display: none;
}
#menu {
	width: 100%;
	text-align: center;
	margin: 6vh 0px;
	display: none;
}
#menu a {
	padding: 10px 5%;
	background-color: #b42222;
	box-shadow: 2px 2px 0 #2d4654;
	font-size: 19px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s ease-in;
}
#menu a:hover {
	box-shadow: 4px 4px 0 #2d4654;
}
#middle {
	width: 440px;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	inset: 0;
	margin: auto;
	z-index: 1;
	color: #fff;
	padding-bottom: 10vh;
}
#middle h1 {
	color: rgb(255, 50, 50);
	font-size: calc(100% + 42px);
	margin: 5px 0;
	text-decoration: underline;
}
#middle h2 {
	font-family: Inter;
	text-align: center;
}
#middle p {
	font-family: "Inter";
	font-size: 1.2rem;
}
#about {
	width: 10vw;
	height: 10vw;
	background: transparent;
	position: fixed;
	inset: 0;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 4;
	transition: 0.4s ease-in-out;
	border-radius: 0px 100px 100px 0px;
}
#about a {
	text-align: center;
	font-size: 25px;
	border-radius: 0px 0px 100px 100px;
	transform: rotate(-90deg);
	color: #fff;
	background-color: transparent;
}
#about i {
	opacity: 0;
	z-index: 10;
	color: #fff;
	font-size: 50px;
	transition: 0.4s ease-in-out;
}
#projects {
	width: 10vw;
	height: 10vw;
	background: transparent;
	position: fixed;
	right: 0;
	margin-top: auto;
	margin-bottom: auto;
	bottom: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 4;
	transition: 0.4s ease-in-out;
	border-radius: 100px 0px 0px 100px;
}
#projects a {
	text-align: center;
	font-size: 25px;
	border-radius: 0px 0px 100px 100px;
	transform: rotate(90deg);
	color: #fff;
	background-color: transparent;
}
#projects i {
	opacity: 0;
	position: absolute;
	right: 0;
	font-size: 50px;
	z-index: 10;
	color: #fff;
	font-size: 50px;
	transition: 0.4s ease-in-out;
}
#contact {
	width: 10vw;
	height: 10vw;
	text-align: center;
	font-size: 25px;
	background: transparent;
	color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
	transition: 0.4s ease-in-out;
	border-radius: 100px 100px 0px 0px;
}
#contact a {
	text-align: center;
	font-size: 25px;
	border-radius: 100px 100px 0px 0px;
	color: #fff;
	background-color: transparent;
}
#contact i {
	opacity: 0;
	position: absolute;
	bottom: 0;
	font-size: 50px;
	z-index: 10;
	color: #fff;
	font-size: 50px;
	transition: 0.4s ease-in-out;
}
#about:hover {
	background-color: rgba(255, 50, 50, 0.9);
	cursor: pointer;
}
#about:hover > i {
	opacity: 1;
}

#projects:hover {
	background: rgba(255, 50, 50, 0.9);
	cursor: pointer;
}
#projects:hover > i {
	opacity: 1;
}
#contact:hover {
	background: rgba(255, 50, 50, 0.9);
	cursor: pointer;
}
#contact:hover > i {
	opacity: 1;
}

#middle table {
	width: 85%;
	margin: 6vh auto;
}
#middle table tr td {
	text-align: center;
}
.social {
	color: #fff;
	font-size: 1.8rem;
	border-radius: 50%;
	transition: 0.4s ease-in-out;
	margin: 0px 8px;
	text-align: center;
}
.social:hover {
	cursor: pointer;
	color: rgb(255, 50, 50);
	font-size: 2rem;
}

.container {
	width: 90vw;
	height: 95vh;
	padding: 2.5vh 5vw;
	background-color: #59656f8e;
	backdrop-filter: blur(10px);
	color: #fff;
	z-index: 9;
	position: fixed;
	max-height: 100vh;
	overflow-y: auto;
	display: none;
}
.container .heading {
	display: flex;
	align-items: center;
	gap: 20px;
}
#used {
	display: flex;
	justify-content: start;
	gap: 5px;
	flex-wrap: wrap;
}
#used div {
	display: flex;
	font-size: 14px;
	display: inline-block;
	padding: 8px 10px;
	border: 2px solid #fff;
	margin: 0;
	border-radius: 50px;
	font-family: Inter;
}
#used div i {
	font-size: 12px;
	display: inline;
}
#used:hover {
	cursor: text;
}
#used div:hover {
	cursor: text;
}
.container h1 {
	font-size: 60px;
	margin: 10px 10px 25px 10px;
	text-decoration: underline;
}
.container p {
	font-size: 21px;
}

.container form input {
	width: 60%;
	margin: 20px 1%;
	background: transparent;
	border: 0px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
	padding: 8px 10px;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	transition: 0.4s ease-in-out;
	color: #fff;
	font-weight: bold;
}
.container form textarea {
	width: 96%;
	margin: 20px 1%;
	padding: 8px 10px;
	border: 0px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
	padding: 8px 10px;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	background: transparent;
	resize: none;
	transition: 0.4s ease-in-out;
	color: #fff;
	font-weight: bold;
}
.container form input:focus {
	outline: none;
	border-bottom: 3px solid rgba(255, 255, 255, 1);
}
.container form textarea:focus {
	outline: none;
	border-bottom: 3px solid rgba(255, 255, 255, 1);
}

#card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.placeholder-img {
	background: linear-gradient(
		90deg,
		hsla(213, 77%, 14%, 1) 0%,
		hsla(202, 27%, 45%, 1) 100%
	);

	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0 0;
}
.card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #2d4654bc;
	border-radius: 20px;
	width: 100%;
}
.card-details {
	display: flex;
	height: 55%;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}
.card-details .top {
	height: 80%;
}
.card-details p {
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
}
.card-details h2 {
	margin-bottom: 5px;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	inset: 0;
	margin: auto;
	width: 50vw;
}
.btn {
	background-color: aliceblue;
	border: 0;
	font-size: 1.2rem;
	align-self: flex-end;
	/* margin-right: 50px; */
	padding: 10px 20px;
	border-radius: 7px;
	transition: 0.2s ease-in-out;
}
.btn:hover {
	background-color: #b42222;
	color: white;
}
.card .link-btn {
	align-self: flex-end;
	background-color: aliceblue;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: black;
	padding: 10px;
	transition: 0.2s ease-in-out;
	font-family: Inter;
}
.card .link-btn:hover {
	background-color: #b42222;
	color: white;
}
.details {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 50px;
}
.portrait-container {
	display: flex;
	justify-content: center;
	padding: 30px 0;
	grid-row-start: 1;
	grid-row-end: 3;
}
.portrait {
	height: 250px;
	border-radius: 10%;
}
.details section {
	flex: 1;
}
.details h3 {
	font-family: Inter;
	font-weight: 600;
}
.details p {
	font-family: Inter;
	text-align: justify;
}
.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.skill {
	padding: 1rem 2rem;
	background-color: #2d4654;
	border-radius: 5px;
	font-family: Inter;
	font-size: 1.2rem;
	margin: 0;
}
.close-btn {
	cursor: pointer;
}
.close-btn i {
	font-size: 30px;
}
.show {
	display: inherit;
}
.slideInLeft {
	animation: slideInLeftAnim 0.8s ease-in;
}
.slideInRight {
	animation: slideInRightAnim 0.8s ease-in;
}
.slideInUp {
	animation: slideInUpAnim 0.8s ease-in;
}
.slideInDown {
	animation: slideInDownAnim 1.2s 1s ease-in;
}
.slideOutLeft {
	animation: slideInLeftAnim 0.8s ease-in reverse;
}
.slideOutRight {
	animation: slideInRightAnim 0.8s ease-in reverse;
}
.slideOutDown {
	animation: slideInUpAnim 0.8s ease-in reverse;
}
.fadeIn {
	animation: fadeIn 1s ease-in;
}

@keyframes slideInLeftAnim {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes slideInRightAnim {
	0% {
		opacity: 0;

		transform: translateX(100%);
	}
	100% {
		opacity: 1;

		transform: translateX(0%);
	}
}
@keyframes slideInUpAnim {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes slideInDownAnim {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 720px) {
	#about {
		display: none;
	}
	#contact {
		display: none;
	}
	#projects {
		display: none;
	}
	#footer {
		text-align: center;
	}
	#middle {
		width: 90vw;
		padding: 0px 5vw;
	}
	#middle h2 {
		text-align: left;
	}
	#middle table {
		width: 80%;
	}
	.container h1 {
		font-size: 36px;
	}
	.container form input {
		width: 90%;
	}
	.container form textarea {
		width: 90%;
	}
	.container form {
		width: 85%;
	}
	#menu {
		display: flex;
		justify-content: space-around;
		gap: 5px;
	}
	#onlywide {
		display: none !important;
	}
	.details {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		gap: 0px;
	}
	.details h3 {
		font-size: 20px;
	}
	.details p {
		font-size: 16px;
	}
	.skill {
		font-size: 16px;
		padding: 0.6rem 1.2rem;
	}
	#card-container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	.portrait {
		height: 200px;
	}
	.portrait-container {
		padding: 0;
	}
}

@media (min-width: 720px) and (max-width: 1024px) {
	#card-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: #2d4654;
}
::-webkit-scrollbar-thumb:hover {
	background: #59656f;
}
::selection {
	color: #fff;
	background: rgb(255, 50, 50);
}
